/* ==========
   1st sec
=============*/

.first-sec {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mybtn {
  margin: 0.5rem;
  color: #fff;
  background-color: #24af44;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #28a745;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  transition: all 0.5s;
}

.dark .mybtn {
  box-shadow: 0 0 0 #9e4673, 0 0 10px #9e4673, 0 0 0 #9e4673;
  border: 1px solid #fff;
  color: #fff;
  background-color: #fc4364;
}

.mybtn:hover {
  font-size: 1.03rem;
}

.mybtn:active {
  border-radius: 0;
  scale: 0.9;
}

.dark .mybtn:hover {
  font-size: 1.03rem;
}

/* ==========
   2nd sec
=============*/

.second-sec {
  width: 50%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* ==========
   3rd sec
=============*/

textarea {
  width: 30vw;
  height: 15vw;
  color: #242424;
  font-size: 16px;
  margin: 0 35px 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow:  0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);;
}

option {
  color: #242424;
  letter-spacing: 1.2px;
}

#key {
  padding: 2px 0 2px 5px;
  margin-left: 10px;
  font-size: 17px;
  border-radius: 5px;
  color: #242424;

}

/* ==========
   light
=============*/

.light .enc-type, 
.light .enc-key,
.light textarea{
  color: #242424;
}